<!--<p id="notice"><%#= notice %></p>-->
<div class="information wrapper container-fluid">

  <p class="gravatar-wrapper">
    <%= gravatar_for @user %>
  </p>
  <div class="col-xs-offset-3 col-xs-6 fields-wrapper">
    <div class="field ">
      <span>Nickname:</span>
      <%= @user.nickname %>
    </div>
    <div class="field ">
      <span>Email:</span>
      <%= @user.email %>
    </div>
    <div class="field ">
      <span>Your city:</span>
      Kyiv
    </div>
    <div class="field ">
      <span>Phone number:</span>
      +380505219808
    </div>
  </div>

  <div class="links col-xs-offset-3 col-xs-6 ">
    <%= link_to 'Edit', '#' %> |
    <%= link_to 'Back', root_path %>
  </div>

</div>