<div class="wrapper welcome container-fluid">
  <%= image_tag("F2ADPNCJ1WWA974.RECT600.jpg", alt: "") %>
  <%= image_tag("F5M0OFDJ9EGZ1XT.RECT600.jpg", alt: "") %>
  <video src="https://cdn.instructables.com/static/video/classes-page-video-800.mp4" autoplay="" loop="" muted="" playsinline=""></video>
  <%= image_tag("FCZTNY6J1WEQPIM.RECT600.jpg", alt: "") %>
  <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/BoQ5EKfwqk40M/200w.webp" srcset="https://media.giphy.com/media/BoQ5EKfwqk40M/200w.webp 200w,
            https://media.giphy.com/media/BoQ5EKfwqk40M/giphy.webp 480w" sizes="100vw" alt="">
  <%= link_to new_product_path, class: "col-xs-6" do %>
      <span>Share yours...</span>
  <% end %>
  <%= image_tag("FGMH77YJ1WOJ5TE.RECT600.jpg", alt: "") %>
  <%= image_tag("498x310_700ed2c99729d523a4a3f4866230e342.jpg", alt: "") %>
  <%= image_tag("F35BIHRJ1WW792N.RECT600.jpg", alt: "") %>
  <%= image_tag("FQANG9VJ1WW78WH.RECT600.jpg", alt: "") %>
  <%= link_to products_path, class: "col-xs-6" do %>
      <span>Find yours...</span>
  <% end %>
</div>
