<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :consumer_id %>
    <%= form.number_field :consumer_id, id: :deal_consumer_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :deal_state %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :deal_price %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id, id: :deal_product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
