<p id="notice"><%= notice %></p>

<p>
  <strong>Consumer:</strong>
  <%= @deal.consumer_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @deal.state %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @deal.product_id %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
