<!--<p id="notice"><%#= notice %></p>-->
<div class="products wrapper container-fluid">
<div class="showcase">
  <%= image_tag("cooking.jpg", alt: "cooking") %>
  <%= image_tag("saw.jpg", alt: "saw") %>
  <%= image_tag("circuit.jpg", alt: "circuit") %>
  <%= image_tag("draw.jpg", alt: "draw") %>
  <%= image_tag("embroidery.jpg", alt: "embroidery") %>
  <%= image_tag("pvc.jpg", alt: "pvc") %>
  <%= image_tag("mold&cast.jpg", alt: "mold") %>
  <%= image_tag("invention.jpg", alt: "invention") %>
  <%= image_tag("sewing.jpg", alt: "sewing") %>
  <%= image_tag("jewellery.jpg", alt: "jewellery") %>
  <span>Let's study...</span>
</div>
<div class="filter col-xs-2">
  <span>Sort by:</span>
  <div class="filter-item">
    Mode:
    <select>
      <option>All</option>
      <option selected>Auction</option>
      <option>Deal</option>
      <option>Buy now</option>
    </select>
  </div>
  <div class="filter-item">
    Category:
    <select>
      <option>All</option>
      <option>Sport</option>
    </select>
  </div>
  <div class="filter-item">
    Price:
    <select>
      <option>Ascending</option>
      <option>Descending</option>
    </select>
  </div>
  <div class="filter-item">
    Location:
    <select>
      <option>All</option>
      <option selected>Kyiv</option>
      <option>Sumy</option>
    </select>
  </div>
  <!--<%= search_form_for @search, url: search_products_path, method: :post do |f| %>-->
      <!--<div class="field">-->
        <!--Sort:-->
        <!--<%= f.sort_fields do |s| %>-->
            <!--<%= s.sort_select %>-->
        <!--<% end %>-->
      <!--</div>-->
      <!--<div class="actions"><%= f.submit "Search" %></div>-->
  <!--<% end %>-->
</div>

<div class="col-xs-8 col-xs-offset-3 products-table">
    <% @products.each.with_index do |product, index| %>
      <div class="item col-xs-4">
        <%= image_tag("#{product.name}.jpg") %>
        <p class="name"><%= product.name %></p>
        <p>Category: <%= product.category %></p>
        <p>Price: <span><%= product.start_price %></span></p>
        <%= link_to 'Show', product %>
      </div>
    <% end %>
</div>


</div>
<!--<%# link_to 'New Product', new_product_path %>-->
<!--<td><%#"{ link_to 'Show', product %></td>-->
<!--<td><%# link_to 'Edit', edit_product_path(product) %></td>-->
<!--<td><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->