<!--<p id="notice"><%= notice %></p>-->
<div class="products wrapper container-fluid">
<div class="showcase">
  <%= image_tag("cooking.jpg", alt: "cooking") %>
  <%= image_tag("circuit.jpg", alt: "circuit") %>
  <%= image_tag("draw.jpg", alt: "draw") %>
  <%= image_tag("embroidery.jpg", alt: "embroidery") %>
  <%= image_tag("invention.jpg", alt: "invention") %>
  <%= image_tag("jewellery.jpg", alt: "jewellery") %>
  <%= image_tag("mold&cast.jpg", alt: "mold") %>
  <%= image_tag("pvc.jpg", alt: "pvc") %>
  <%= image_tag("saw.jpg", alt: "saw") %>
  <%= image_tag("sewing.jpg", alt: "sewing") %>
  <span>Let's study...</span>
</div>
<!--<h1>Products</h1>-->

<table class="col-xs-8 col-xs-offset-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Mode</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.start_price %></td>
        <td><%= product.mode %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<!--<%# link_to 'New Product', new_product_path %>-->
<!--<td><%#"{ link_to 'Show', product %></td>-->
<!--<td><%# link_to 'Edit', edit_product_path(product) %></td>-->
<!--<td><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->