<!--<p id="notice"><%#= notice %></p>-->
<div class="locations wrapper container-fluid">

<h1>Locations</h1>

<table class="col-xs-offset-3 col-xs-6">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Rooms</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.city %></td>
        <td><%= location.address %></td>
        <td><%= location.phone %></td>
        <td><%= location.room_amount %></td>

        <!--<td><%#= link_to 'Show', location %></td>-->

      </tr>
    <% end %>
  </tbody>
</table>



<%= image_tag google_map(center: "0,0") %>
</div>

<%#= link_to 'New Location', new_location_path %>
<!--<td><%#= link_to 'Edit', edit_location_path(location) %></td>-->
<!--<td><%#= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->