<div class="header">
  <%= link_to image_tag("logo.svg", :alt => "logo"), root_path%>

  <ul class="nav">
    <li class="nav-item">
      <%= link_to "About us", about_us_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Add item", new_product_path %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
          <%= link_to current_user do %>
            <%= current_user.nickname %>
            <%= gravatar_for current_user %>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </li>
  </ul>
</div>
