<div class="header">
  <%= link_to image_tag("logo.svg", :alt => "logo"), root_path%>

  <ul class="nav">
    <li class="nav-item">
      <%= link_to about_us_path do %>
        <span>About us</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to locations_path do %>
        <span>Locations map</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_product_path do %>
        <span>Add item</span>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
          <%= link_to current_user do %>
              <span><%= current_user.nickname %></span>
            <%= gravatar_for current_user %>
          <% end %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <span>Log out</span>
          <% end %>
      <% else %>
          <%= link_to new_user_registration_path do %>
              <span>Sign up</span>
          <% end %> or
          <%= link_to new_user_session_path do %>
              <span>Log in</span>
          <% end %>
      <% end %>
    </li>
  </ul>
</div>
